.selfClearing:after {
	content: " "; 
	display: block; 
	height: 0; 
	clear: both;
	visibility: hidden;
}

.selfClearing {
	*zoom: 1;
}

body,
#content {
	background-color: #000;
	background-position: center center;
	background-attachment:fixed;
	background-repeat: repeat;
	color: #FFF;
	overflow: hidden;
}

#title {
	display: block;
	width: 200px;
	height: 61px;
	margin: 10px auto 0;
	background: transparent url(../img/logo_small.png) no-repeat center center;
	opacity: 0.8;
	-webkit-filter: drop-shadow(0 0 5px #000);
	filter: drop-shadow(0 0 5px #000);
}

.social {
	display: block;
	width: 32px;
	height: 32px;
	position: fixed;
	bottom: 10px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;	
	background-position: center center;
	background-repeat: no-repeat;

	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;	
}

#add {
	right: 106px;
	background-image: url(../img/add.png);
}

#report {
	right: 70px;
	background-image: url(../img/report.png);
}

#facebook {
	right: 40px;
	background-image: url(../img/facebook.png);
}

#twitter {
	right: 10px;
	background-image: url(../img/twitter.png);
}

.social:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	transform:rotate(360deg);
}

#content {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#content.horizontal {
	background-repeat: repeat-x;
}

#content.vertical {
	background-repeat: repeat-y;
}

#content.clockwise {
	-webkit-animation: clockwise 4s linear infinite;
	-moz-animation: clockwise 4s linear infinite;
	animation: clockwise 4s linear infinite;
}

#content.anticlockwise {
	-webkit-animation: anticlockwise 4s linear infinite;
	-moz-animation: anticlockwise 4s linear infinite;
	animation: anticlockwise 4s linear infinite;
}

@-webkit-keyframes clockwise {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes clockwise {
	from {
		-moz-transform:    rotate(0deg);
	}
	to {
		-moz-transform:    rotate(360deg);
	}
}

@keyframes clockwise {
	from {
		transform:         rotate(0deg);
	}
	to {
		transform:         rotate(360deg);
	}
}

@-webkit-keyframes anticlockwise {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(-360deg);
	}
}

@-moz-keyframes anticlockwise {
	from {
		-moz-transform:    rotate(0deg);
	}
	to {
		-moz-transform:    rotate(-360deg);
	}
}

@keyframes anticlockwise {
	from {
		transform:         rotate(0deg);
	}
	to {
		transform:         rotate(-360deg);
	}
}